# Ignore IntelliJ Project files.
*.iml
.idea/

# If on a Mac, ignore DS_Store.
.DS_Store

# Build node_modules locally.
node_modules/

# Ignore the debug log generated when, for example, ESLint fails.
npm-debug.log

_site
.sass-cache
.jekyll-metadata