<footer>
  <div class="footer-background-layout-1">
    <div class="ui centered grid text container footer">
      <h1 style="margin-top: 25px" class="ui main header footer">Contact</h1>
      <div style="margin-top: 5px" class="ui vertically divided grid container">
        <div class="three column stackable row footer">
          <div class="column">
            <h3 class="ui secondary header">
              <i class="map icon"></i>
              <div class="content">
                Address redacted
              </div>
            </h3>
          </div>
          <div class="column">
            <h3 class="ui secondary header">
              <i class="mail icon"></i>
              <div class="content">
                {{site.email}}
              </div>
            </h3>
          </div>
          <div class="column">
            <h3 class="ui secondary header">
              <i class="call icon"></i>
              <div class="content">
                Phone redacted
              </div>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-background-layout-2">
    <div id="footer-navigation-links" class="ui middle aligned centered stackable grid text container">
      <div style="margin-top:35px">
        <a style="margin-right:7.5px" href="https://github.com/nathancy" target="_blank"><i
            class="circular github icon homepage"></i></a>
        <a style="margin-right:7.5px; margin-left: 7.5px" href="http://linkedin.com/in/nathan-lam-14b936112"
           target="_blank"><i class="circular linkedin icon homepage"></i></a>
        <a style="margin-right:7.5px; margin-left: 7.5px" href="https://nathancy.github.io/" target="_blank"><i
            class="circular suitcase icon homepage"></i></a>
        <a style="margin-left: 7.5px" href="mailto:nathancy@hawaii.edu" target="_blank"><i
            class="circular mail outline icon homepage"></i></a>
        <br>
        <h4 id="copyright-footer">© {{site.time | date: "%Y"}} Nathan Lam</h4>
      </div>
    </div>
  </div>
</footer>
