<landing-navbar class="navbar-slider">
  <div class="ui container borderless inverted menu">
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}
    <a class="ui centered header item" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    <div class="right aligned item">
      {% for item in site.data.menu %}
        {% if item.title == "Portfolio" %}
          <a class="aligned item" href="https://nathancy.github.io/" target="_blank">Portfolio</a>
        {% else %}
          <a class="aligned item" href="{{ item.url | relative_url }}">{{ item.title | escape }}</a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</landing-navbar>
