<!DOCTYPE HTML>
<html lang="en-us">
<head>
  {% include head.html %}
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Nathan Lam</title>
  <link rel="stylesheet" href="../css/homepage/homepage.css">
</head>

<body>
{% include header.html %}
<div id="container">
  <canvas id="pixie"></canvas>
  <div id="mountains"></div>
  <div id="grass"></div>
</div>
{% include footer.html %}
</body>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<script type="text/javascript" src="../js/homepage/homepage.js">

</script>
</html>
